<div class="flex-container col-xs-12">
  <div class="card-body">
    <form>
      <div class="row mt-2">
        <a (click)="authService.SigninWithGoogle()" style="text-decoration: none;cursor: pointer;">
            <div class="card shadow text-center">
                <div class="card-body">
                    <img src="../../../assets/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In with Google
                </div>
            </div>
        </a>
      </div>
    </form>
  </div>
</div>