<div style="padding-top: 15px; padding-left: 20px">
    <h4>Carpool ID: {{ carpoolId }} </h4>

    <div class="panel panel-default" >
        <div class="panel-heading">Driver: {{ carpoolObj.driver }}</div>
        <div class="panel-body">
            <p>Passengers: </p>
            <p *ngFor="let passenger of carpoolObj.passengers">{{ passenger }}</p>
            <p>Start time: {{ carpoolObj.startTime }}</p>
            <p>Seats Remaining: {{ getRemainingSeats() }}</p>
            <p></p>
        </div>
    </div>
</div>
