<div class="panel-body">
    <p>
        <!-- buttons -->
        <!-- <button type="button" class="btn btn-default" (click)="onEdit()" [hidden]="this.isEditing">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button> -->
        <span (click)="onEdit()" [hidden]="this.isEditing" style="font-size: medium;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
        </span>

        <!-- <button type="button" class="btn btn-default" (click)="onSave(nickname, make, model, license, seats)" [hidden]="!this.isEditing">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
        </button> -->
        <span (click)="onSave(nickname, make, model, license, color, seats)" [hidden]="!this.isEditing">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
            </svg>
        </span>
        &nbsp;&nbsp;
        <!-- <button type="button" class="btn btn-default" (click)="onDelete()">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        </button> -->
        <span (click)="onDelete()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </span>
    </p>

    <!-- information -->
    <p [hidden]="this.isEditing">
    <li class="list-group-item"><b>Nickname:  </b>{{this.vehicleObj.nickname}}</li>
    <li class="list-group-item"><b>Car Make:  </b>{{this.vehicleObj.make}}</li>
    <li class="list-group-item"><b>Car Model:  </b>{{this.vehicleObj.model}}</li>
    <li class="list-group-item"><b>License:  </b>{{this.vehicleObj.license}}</li>
    <li class="list-group-item"><b>Color:  </b>{{this.vehicleObj.color}}</li>
    <li class="list-group-item"><b>Seats Available:  </b>{{this.vehicleObj.seatsAvail}}</li>
    </p>

    <!-- edit -->
    <form [hidden]="!this.isEditing">
        <!-- <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
        </button> -->
        <li class="list-group-item">
            <div class="form-group row">
                <label for="nickname" class="col-sm-3 col-form-label">Nickname:</label>
                <div class="col-sm-9">
                    <input type="input" class="form-control" id="nickname" [value]="this.vehicleObj.nickname" #nickname>
                </div>
            </div>

            <div class="form-group row">
                <label for="carmake" class="col-sm-3 col-form-label">Car Make:</label>
                <div class="col-sm-9">
                    <input type="input" class="form-control" id="carmake" [value]="this.vehicleObj.make" #make>
                </div>
            </div>

            <div class="form-group row">
                <label for="carmodel" class="col-sm-3 col-form-label">Car Model:</label>
                <div class="col-sm-9">
                    <input type="input" class="form-control" id="carmodel" [value]="this.vehicleObj.model" #model>
                </div>
            </div>

            <div class="form-group row">
                <label for="license" class="col-sm-3 col-form-label">License:</label>
                <div class="col-sm-9">
                    <input [disabled]="true" type="input" class="form-control" id="license" [value]="this.vehicleObj.license" #license>
                </div>
            </div>

            <div class="form-group row">
                <label for="color" class="col-sm-3 col-form-label">Color:</label>
                <div class="col-sm-9">
                    <input type="input" class="form-control" id="color" [value]="this.vehicleObj.color" #color>
                </div>
            </div>

            <div class="form-group row">
                <label for="seats" class="col-sm-3 col-form-label">Seats Available:</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="seats" [value]="this.vehicleObj.seatsAvail" #seats>
                </div>
            </div>
        </li>
    </form>

</div>
