<div class="row">
    <div class="col-xs-12">
        <p>Direction: </p>
        <mat-radio-group [(ngModel)]="selectedDirection">
            <mat-radio-button value="To Snowbird" color="primary">
                To Snowbird
            </mat-radio-button><br><br>
            <mat-radio-button value="From Snowbird" color="primary">
                From Snowbird
            </mat-radio-button><br><br>
        </mat-radio-group>
        <!-- <p>Driver: </p>
        <input
            type="text"
            class="form-control"
            #driverName>
        <br> -->
        <p>Start Time: </p>
        <input
            type="text"
            class="form-control"
            #startTime>
        <br>
        <p>Arrival Time: </p>
        <input
            type="text"
            class="form-control"
            #arrivalTime>
        <br>
        <p>Total Seats Available: </p>
        <input
            type="number"
            class="form-control"
            #seatsAvailable>
        <br>

        <button
            class="btn btn-primary"
            (click)="onCreateCarpool(startTime, arrivalTime, seatsAvailable)">Add</button>
        <p></p>
        <!-- <p *ngIf="carpoolCreated; else noCarpool">A carpool was created!</p>
        <ng-template #noCarpool>
            <p>
                There are no carpools today!
            </p>
        </ng-template> -->
    </div>
</div>