<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <!-- <br><br> -->
            <!-- <h4>Carpools</h4> -->
            <p *ngIf="noCarpoolsToday"></p>
                <!-- <p>
                    There are no carpools today!
                </p> -->
            <hr>
            <app-addcarpool (newCarpool)="onCarpoolAdded()"></app-addcarpool>
            <!-- <app-carpool
              *ngFor="let carpool of carpools"
              [element]="carpool"
              [driver]="carpool.driver">
              <p>{{ carpool.driver }}</p>
            </app-carpool> -->
            <app-carpool
                *ngFor="let carpool of carpools"
                [carpoolObj]="carpool"
                >
            </app-carpool>

          </div>
    </div>
</div>