<div class="col-sm-10 justify-content-center">
    <!-- <div class="col-sm-10 justify-content-center"> -->
        <!-- <div class="row"> -->
            <!-- <br><br> -->
            <h3><b>Select Date</b></h3>
    
            <div [formGroup]="formGroup">
                <mat-form-field appearance="outline">
                    <input (dateInput)="onDateSelected($event.value)"
                            matInput formControlName="releasedAt" 
                            [placeholder]="today"
                            [matDatepicker]="releasedAtPicker" (click)="releasedAtPicker.open()">
                    <mat-datepicker-toggle matPrefix [for]="releasedAtPicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #releasedAtPicker 
                                    [touchUi]="true"
                                    [startAt]="date" > 
                    </mat-datepicker>
                </mat-form-field>
                </div>
            <!-- <p *ngIf="noCarpoolsToday"></p> -->
                <!-- <p>
                    There are no carpools today!
                </p> -->
            <hr>
            <h3><b>Create a new carpool</b></h3>
            <!-- Send chosen date to child component AddCarpool -->
            <app-addcarpool 
                [date]="date"
                (newCarpool)="onCarpoolAdded($event)"
            ></app-addcarpool>
            <!-- <app-carpool
              *ngFor="let carpool of carpools"
              [element]="carpool"
              [driver]="carpool.driver">
              <p>{{ carpool.driver }}</p>
            </app-carpool> -->
            <hr>
            <h3><b>Carpools</b></h3>
            <app-carpool
                *ngFor="let carpool of carpools"
                [carpoolObj]="carpool"
                (carpoolRemoved)="onCarpoolRemoved($event)"
                >
            </app-carpool>

          <!-- </div> -->
    <!-- </div> -->
</div>
<div class="fixed-bottom" style="width:100%">
    <app-navbar></app-navbar>
</div>