<div class="col-sm-10 justify-content-center">
    <div>
        <app-import-file></app-import-file>
    </div>
</div>

<br>

<div class="col-sm-10 justify-content-center">
    <h3><b>Calendar</b></h3>
    <div>
        <span class="col-sm-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
            <span> : Driver of a carpool</span>
        </span>
        <span class="col-sm-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
            <span> : Passenger of a carpool</span>
        </span>
    </div>
    <br>
    <div *ngFor="let ds of weeklySchedule">
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush"><b>{{this.formatDate(ds.date)}}</b></ul>
                <app-employee *ngFor="let e of ds.attenders" [employeeObj]="e" [date]="ds.date"></app-employee>
            </div>
        </div>
        <br>
    </div>

</div>


<div class="fixed-bottom" style="width:100%">
    <app-navbar></app-navbar>
</div>
