<div
  class="panel panel-default" >
  <div class="panel-heading"><b>User Id: {{ this.accountObj.uid }}</b></div>
  <div class="panel-body">
    <p><b>Google Account Username:</b> {{ this.accountObj.displayName }}</p>
    <p></p>
    <p><b>G-mail Address:</b> {{ this.accountObj.email }}</p>
    <p></p>

    <button style="margin:5px"
    class="btn btn-primary"
    (click)="onApprove()">Approve</button>
    <button style="margin:5px"
    class="btn btn-primary"
    (click)="onDenied()">Deny</button>
    <br>
    <button style="margin:5px"
    class="btn btn-warning"
    (click)="onApproveAsAdmin()">Approve and Set as Admin</button>
  </div>
</div>