<div class="row">
    <div class="col-xs-12">
        <label>Edit your profile</label>
        <br><br>
        <p>Name: </p>
        <input
            type="text"
            [value]="displayName"
            class="form-control"
            #username>
        <br>
        <p>Phone: </p>
        <input
            type="text"
            class="form-control"
            #phone>
        <br>
        <p>E-mail: </p>
        <input
            type="text"
            [value]="gmail"
            class="form-control"
            #email>
        <br>
        <p>Address: </p>
        <input
            type="text"
            class="form-control"
            #address>
        <br>

        <button
            class="btn btn-primary"
            (click)="onUpdateUser(username, phone, email, address)">Save</button>
        <p></p>
    </div>
</div>