<div class="panel panel-default">
    <div class="panel-heading">
        <b>Import Working Schedule</b>
    </div>

    <div class="panel-body">
        <input type="file" (change)="onFileChange($event)" multiple="false" />
        <br>
        <p>* Notice: upload duplicate files will replace the data stored in database.</p>
        <button type="button" class="btn btn-primary btn-block" (click)="onUpload()">Upload</button>
        <button class="btn btn-primary btn-block" (click)="this.onCancel()">Cancel</button>
    </div>
</div>
