<div class="row">
    <div class="col-xs-12">
        <img src="{{photoURL}}" class="rounded-circle">
        <br>
        <label>Edit your profile</label>
        <br>
        <form>
            <div class="form-row">
                <label for="validationDefault01">Name</label>
                <input class="form-control is-valid" id="validationDefault01" type="text" [value]="nameText" #username required>
                <div class="invalid-feedback">
                    Please enter a valid name.
                </div>
            </div>
            <br>
            <div class="form-row">
                <label for="validationDefault02">Phone Number</label>
                <input class="form-control is-valid" id="validationDefault02" type="text" [value]="phoneText" #phone required>
                <div class="invalid-feedback">
                    Please enter your phone number.
                </div>
            </div>
            <br>
            <div class="form-row">
                <label for="validationDefault03">E-mail Address</label>
                <input class="form-control is-valid" id="validationDefault03" type="text" [value]="emailText" #email required>
                <div class="invalid-feedback">
                    Please enter a valid email address.
                </div>
            </div>
            <br>
            <div class="form-row">
                <label for="validationDefault04">Home Address</label>
                <input class="form-control is-valid" id="validationDefault04" type="text" [value]="addressText" #address required>
                <div class="invalid-feedback">
                    Please enter your home address.
                </div>
            </div>
            <br>
            <div class="form-row">
                <label for="validationDefault05">Zip Code</label>
                <input class="form-control is-valid" id="validationDefault05" type="text" length="5" #zip required>
                <div class="invalid-feedback">
                    Please enter a valid zip code with 5 digits.
                </div>
            </div>
            <button
                class="btn btn-primary"
                (click)="onSaveUser(username, phone, email, address)">Save
            </button>
        </form>
    </div>
</div>