<hr>
<!-- <label>Carpool</label> -->
<!-- <p></p> -->
<div
  class="panel panel-default" >
  <!--<div class="panel-heading">{{ element.name }}</div>-->
  <div class="panel-heading" [routerLink]="['/carpools', carpoolObj.id]" #heading>Driver: {{ carpoolObj.driver }}</div>
  <div class="panel-body">
    <p>Passengers: </p>
    <p *ngFor="let passenger of carpoolObj.passengers">{{ passenger }}</p>
    <p>Start time: {{ carpoolObj.startTime }}</p>
    <p>Seats Remaining: {{ getRemainingSeats() }}</p>
    <p></p>
    <button
    class="btn btn-primary"
    [disabled]="carFull"
    (click)="onJoinCarpool()">Join Carpool</button>
    <p></p>
    <button
    class="btn btn-primary"
    (click)="onCancelCarpool()">Cancel Carpool</button>
  </div>
</div>




