<div class="panel panel-default" >
  <!--<div class="panel-heading">{{ element.name }}</div>-->
  <div class="panel-heading" [routerLink]="['/carpools', carpoolObj.id]" #heading><b>Driver: {{ driverName }}</b></div>
  <div class="panel-body">
    <p>
      <b>Vehicle: </b>
      <span [hidden]="this.carpoolObj.vehicle.license == ''">
        {{this.carpoolObj.vehicle.license}} 
        <span [hidden]="this.carpoolObj.vehicle.make == '' && this.carpoolObj.vehicle.model == ''">
          ({{this.carpoolObj.vehicle.make}} {{this.carpoolObj.vehicle.model}})
        </span>
      </span>
    </p>
    <p><b>Passengers: </b></p>
    <div *ngFor="let passenger of passengerObjs">
      <img src="{{this.getPhoto(passenger.photoURL)}}" class="img-thumbnail rounded-circle" style="width:50px;height:50px;"> 
      {{passenger.name}}
    </div>
    <br>
    <p><b>Start Time: </b>{{ this.carpoolObj.startTime }}</p>
    <p><b>Arrival Time: </b>{{ this.carpoolObj.arrivalTime }}</p>
    <p><b>Seats Remaining: </b>{{ getRemainingSeats() }}</p>
    <br>
    <button class="btn btn-primary btn-block" 
      [disabled]="carFull || joinedCar || isDriver"
      (click)="onJoinCarpool()">Join</button>
    <button class="btn btn-primary btn-block"
      [disabled]="!joinedCar"
      (click)="onLeaveCarpool()">Leave</button>
    <button class="btn btn-warning btn-block"
      (click)="onCancelCarpool()">Cancel Carpool</button>
  </div>
</div>




